{% extends  'base1.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% crispy formset %}

{% block main %}
      <h2  class="mb-0">Forgot password</h2>
      <p class="mb-4 mt-2">Please enter your email</p>
      <form method="post"> 
        {% csrf_token %}
        <div class="form-group ">
          <input  type="hidden"  name="next" placeholder="Email Adrress" value="{{ next }}">
          {{ form | crispy}}
          <button type="submit" class="btn btn-green btn-block">Send</button>
        </div>        
        <p class="mb-0">Forget it, <a href="{% url 'signin' %}">Send me back</a> to the sign in screen.</p>
      </form>
    </div>
  </div>

</div>

{% endblock %}