{% extends  'base1.html' %}
{% load crispy_forms_tags %}

{% block main %}
  {% if validlink %}
  <div style= "margin-top: 2rem;"class="form-group ">

    <form method="post">

      {% csrf_token %}
      {{ form | crispy }}
      <button class="btn btn-green btn-block" type="submit">Change password</button>
    </form>
  </div>

  {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}
{% endblock %}